fastapi
uvicorn
pandas
numpy
requests
openmeteo-requests
requests-cache
retry-requests
gymnasium
python-calamine
sqlalchemy
psycopg2-binary
pyjwt
python-dotenv
pwdlib
pydantic
scikit-learn
stable-baselines3
torch
tensorboard
openpyxl
pymodbus>=3.6