fastapi
uvicorn
python-multipart
pandas
numpy
requests
openmeteo-requests
retry-requests
gymnasium
python-calamine
sqlalchemy
psycopg2-binary
pyjwt
python-dotenv
pwdlib
argon2-cffi
pydantic
scikit-learn
stable-baselines3
torch
tensorboard
pymodbus>=3.6
rich
tqdm
